<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We use notifications to alert you when keywords are detected.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to detect spoken keywords while wearing headphones.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to listen for keywords.</string>
</dict>
</plist>
